form .asf-btn {
    background-color: #1356A4;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
}

.add-school {
    padding: 200px 10px;
    background-color: #efefef;
    min-height: 40vh;
}

.add-school form {
    text-align: center;
    margin: 0 auto 100px;
    padding: 30px 30px 20px;
    width: 500px;
    /* min-height: 250px; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    border-radius: 5px;
    border: 1px solid #efefef;
    /* position: relative; */
}

.school-name, .amount-need, .school-details {
    border: 1px solid #efefef;
    background-color: #fafafa;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}